annotated-types
anyio
certifi
click
colorama
distro
fastapi
h
httpcore
httpx
idna
iniconfig
openai
packaging
pluggy
pydantic
pydantic_core
pytest
python-dotenv
sniffio
starlette
tqdm
typing_extensions
uvicorn